.checkout_body{
    background-color: #eaeded;
    height: 100%;

}
.checkout_container{
    background-color: white;
    margin: 25px;
    width: 70vw;
    margin-top: 30px;
}
.textgap{
    margin: 5px;
}
.placeorder_button{
    width: 220px;
    height: 30px;
    border-radius: 10px;
    margin: 5px;
    border: 0px;
    color: black;
    background-color: #ffd712;
    cursor: pointer;
}
.deleteBtn{
    margin-top: 10px;
    width: 100px;
    height: 25px;
    background-color: #ffd712;
    font-weight: bold;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    
}